<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="lib/vue.min.js"></script>
    <script src="lib/swiper.min.js"></script>
    <script src="lib/vue-awesome-swiper.js"></script>
    <script src="lib/axios.min.js"></script>
    <script src="js/api.js"></script>
    <script src="lib/vue-seamless-scroll.min.js"></script>
    <script src="lib/element-ui.js"></script>
    <link rel="stylesheet/less" type="text/css" href="css/tv-index.less">
    <script src="lib/less.min.js"></script>
    <link rel="stylesheet" href="css/swiper.min.css" />
    <link rel="stylesheet" href="css/index.css" />
</head>
<body>
<div id="app" v-cloak>
    <div class="container">
        <div class="title">
        </div>
        <div class="org">
            <img class="org_img" src="img/index/org_logo.png" alt="">
            <h3 style="color: #f2f2f2">&emsp;{{currentOrg.name}}</h3>
        </div>
        <div class="content">
            <div class="content_left">
                <div>
                    <div class="left_title">
                        <img class="left_title_img1" src="img/index/acting.png" alt=""><h2>&nbsp;本月执行中</h2>
                    </div>
                    <vue-seamless-scroll :data="parActivity.currentMonth" class="warp">
                        <ul class="item" ref="listItem">
                            <li v-for="(item,index) in parActivity.currentMonth" style="width: 300px;">
                                <span>{{index+1}}、{{item.title}}</span>
                                <span class="month-display">{{item.month}}</span>
                            </li>
                        </ul>
                    </vue-seamless-scroll>
                </div>
                <br>
                <br>
                <div>
                    <div class="left_title">
                        <img class="left_title_img2" src="img/index/plan.png" alt=""><h2>&nbsp;下月待执行</h2>
                    </div>
                    <vue-seamless-scroll :data="parActivity.nextMonth" class="warp">
                        <ul class="item" ref="listItem">
                            <li v-for="(item,index) in parActivity.nextMonth" style="width: 300px;">
                                <span>{{index+1}}、{{item.title}}</span>
                                <span class="month-display">{{item.month}}</span>
                            </li>
                        </ul>
                    </vue-seamless-scroll>
                </div>
            </div>
            <div class="content_right">
                <div style="position: relative;z-index: 10">
                    <h1 style="color: white;margin: 0 auto 40px auto;text-align: center">本月任务</h1>
                    <swiper ref="awesomeSwiperA" :options="swipperOptions" >
                        <!-- slides -->
                        <swiper-slide v-for="(item, index) in todoList" :key="item.id">
                            <div class="activity_detail">
                                <h1 class="detail-title">
                                    <img class="detail_img" v-show="item.taskType === 'Party'" src="/img/party-logo.png" alt="党建logo"/>
                                    <img class="detail_img" v-show="item.taskType === 'DistLearning'" src="/img/learning-logo.png" alt="远教logo"/>
                                    {{item.title}}</h1>
                                <div class="detail_content">
                                    <el-row style="margin: 15px 0">
                                        <el-col class="label-width">任务类型：</el-col>
                                        <el-col class="value-width">{{item.type}}</el-col>
                                    </el-row>
                                    <el-row style="margin: 15px 0">
                                        <el-col class="label-width">任务分值：</el-col>
                                        <el-col class="value-width">{{item.score}}分</el-col>
                                    </el-row>
                                    <el-row style="margin: 15px 0">
                                        <el-col class="label-width">截止日期：</el-col>
                                        <el-col class="value-width">{{item.month}}</el-col>
                                    </el-row>
                                    <el-row style="margin: 15px 0">
                                        <el-col class="label-width">任务内容：</el-col>
                                        <el-col class="value-width">{{item.context}}</el-col>
                                    </el-row>
                                </div>
                                <div class="status-container">
                                    <img v-if="item.status === '2'" class="status-img" src="img/finished.png" alt="">
                                    <img v-else-if="item.status === '1'" class="status-img" src="img/review.png" alt="">
                                    <img v-else-if="item.status === '0'" class="status-img" src="img/wait_acting.png" alt="">
                                </div>
                            </div>
                        </swiper-slide>
                        <!-- Optional controls -->
                    </swiper>
                </div>
                <div class="swiper-pagination"  slot="pagination"></div>

            </div>
        </div>
    </div>
</div>
<script type="application/ecmascript">
    Vue.use(VueAwesomeSwiper);
    let app = new Vue({
        el: '#app',
        data() {
            return {
                swipperOptions: {
                    effect: 'coverflow',
                    grabCursor: true,
                    centeredSlides: true,
                    slidesPerView: 'auto',
                    coverflowEffect: {
                        rotate: 50,
                        stretch: 250,
                        depth: 400,
                        modifier: 1,
                        slideShadows : true
                    },
                    pagination: {
                        el: '.swiper-pagination'
                    },
                    on: {
                        progress: function (progress) {
                            for (i = 0; i < this.slides.length; i++) {
                                var slide = this.slides.eq(i);
                                var slideProgress = this.slides[i].progress;
                                modify = 1;
                                if (Math.abs(slideProgress) > 1) {
                                    modify = (Math.abs(slideProgress) - 1) * 0.3 + 1;
                                }
                                translate = slideProgress * modify * 260 + 'px';
                                scale = 1 - Math.abs(slideProgress) / 5;
                                zIndex = 999 - Math.abs(Math.round(10 * slideProgress));
                                slide.transform('translateX(' + translate + ') scale(' + scale + ')');
                                slide.css('zIndex', zIndex);
                                slide.css('opacity', 1);
                                if (Math.abs(slideProgress) > 3) {
                                    slide.css('opacity', 0);
                                }
                            }
                        },
                        setTransition: function (transition) {
                            for (let i = 0; i < this.slides.length; i++) {
                                let slide = this.slides.eq(i)
                                slide.transition(transition);
                            }

                        }
                    }
                },
                currentOrg: {},
                parActivity: {},
                todoList: [],
                number: '02117616500012212',
            }
        },
        methods: {
            init() {
                let KEY = {
                    UP: 28,
                    DOWN: 29,
                    LEFT: 30,
                    RIGHT: 31,
                    PC_UP:38,
                    PC_DOWN:40,
                    PC_LEFT:37,
                    PC_RIGHT:39,
                    ENTER: 13,
                    BACK: 114,
                    EXIT: 61
                };
                let keyDown = (evt) => {
                    console.log(this.$refs.awesomeSwiperA);
                    evt = (evt) ? evt : ((window.event) ? window.event : "");//兼容IE和Firefox获得keyBoardEvent对象
                    let keyCode = evt.keyCode ? evt.keyCode : evt.which;
                    switch (keyCode) {
                        case KEY.DOWN:
                        case KEY.PC_DOWN:
                            break;
                        case KEY.UP:
                        case KEY.PC_UP:
                            break;
                        case KEY.LEFT:
                        case KEY.PC_LEFT:
                            this.$refs.awesomeSwiperA.swiper.slidePrev();
                            break;
                        case KEY.RIGHT:
                        case KEY.PC_RIGHT:
                            this.$refs.awesomeSwiperA.swiper.slideNext();
                            break;
                        case KEY.ENTER:
                            let index = this.$refs.awesomeSwiperA.swiper.activeIndex;
                            let activity = this.todoList[index];
                            if (activity.taskType === 'Party') {
                                window.location = `/party_activity_detail.html?activityId=${activity.activityId}&organizationId=${this.currentOrg.organizationId}&number=${this.number}`;
                            } else {
                                window.location = `/education.html?activityId=${activity.activityId}&organizationId=${this.currentOrg.organizationId}&number=${this.number}`;
                            }
                            break;
                            default:
                    }
                    return false;
                };
                document.onirkeypress = keyDown;
                document.onkeydown = keyDown;

            }
        },
        created() {
            this.$http.get('/identity/parActivity/tv/index').then(
                data => {
                    this.parActivity = data.data.content;
                }
            );
            this.$http.get(`/identity/parActivityObject/number/${this.number}`).then(
                data => {
                    this.todoList = data.data.content;
                }
            );
            this.$http.get(`/identity/parCamera/number/${this.number}`).then(
                data => {
                    this.currentOrg = data.data.content;
                }
            );
            this.init();
        }
    })
</script>
</body>
</html>